.interests {
    width: 100%;
    background: #151515;
    padding-bottom: 2rem;
}

.interests_title > h1 {
    color: white;
    font-family: 'Raleway-Regular';
    padding: 1rem 2rem;
    font-size: 25px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px orange;
    margin-left: 35px;
    margin-right: 35px;
}

.skills {
    display: flex;
    justify-content: space-between;
}

.skills_photo > h1 {
    color: white;
    padding-top: 2.5rem;
    padding-left: 4rem;
    font-size: 20px;
    font-family: 'Raleway-Regular';
}

.skills_photo > h2 {
    color: white;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    font-size: 20px;
    font-family: 'Raleway-Light';
}

.skills_video > h1 {
    color: white;
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    font-size: 20px;
    font-family: 'Raleway-Regular';
}

.skills_video > h2 {
    color: white;
    padding-top: 2.5rem;
    font-size: 20px;
    font-family: 'Raleway-Light';
}

.skills_hobbies > h1 {
    color: white;
    padding-top: 2.5rem;
    padding-left: 1.2rem;
    padding-right: 2.5rem;
    font-size: 20px;
    font-family: 'Raleway-Regular';
}

.skills_hobbies > h2 {
    color: white;
    padding-top: 2.5rem;
    padding-right: 2.5rem;
    font-size: 20px;
    font-family: 'Raleway-Light';
}

.gallery_title {
    color: white;
    font-size: 25px;
    font-family: 'Raleway-Regular';
    display: flex;
    padding-top: 4rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px orange;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
}

a img:last-child {
    display: none;
}

a:hover img:last-child {
    display: block;
}

a:hover img:first-child {
    display: none;
}

.gallery {
    width: 100%;
    display: flex;
    padding: 3rem 2.5rem;
    justify-content: space-between;
}

.show1 {
    width: 400px;
    height: 400px;
}

.show1edit {
    border-radius: 10%;
}

.show1original {
    border-radius: 10%;
}

.show2 {
    width: 400px;
    height: 400px;
}

.show2edit {
    border-radius: 10%;
}

.show2original {
    border-radius: 10%;
}

.show3 {
    width: 400px;
    height: 400px;
}

.show3edit {
    border-radius: 10%;
}

.show3original {
    border-radius: 10%;
}
