.main_welcome > h1{
    color: white;
    font-family: 'Raleway-Regular';
    font-size: 20px;
    padding: 1rem 2rem;
    border-bottom: solid 4px #292929;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #0d0d0d;
    display: flex;
    justify-content: center;
}

.welcome {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 5.2rem;
    background: url('../../Assets/BG.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.avatar {
    padding: 3rem;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    display: block;
    margin: auto;
    margin-top: 30px;
}

.pic_name > h1{
    color: azure;
    font-family: 'Raleway-Regular';
    justify-content: center;
    display: flex;
    font-size: 30px;
    padding-bottom: 1rem;
}

.pic_name > h2 {
    color: azure;
    font-family: 'Raleway-Light';
    justify-content: center;
    display: flex;
    font-size: 22px;
    padding: 1rem;
}

a img:last-child {
    display: none;
}

a:hover img:last-child {
    display: block;
}

a:hover img:first-child {
    display: none;
}

.links {
    padding: 2rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.link_github {
    width: 83px;
    height: 53px;
    padding-right: 2rem;
}

.link_youtube {
    width: 50px;
    height: 53px;
    margin-left: 1.2rem;
    margin-top: -2px;
}

.link_instagram {
    width: 97px;
    height: 53px;
    padding-left: 3rem;
    margin-top: -3px;
}