.welcome {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 7rem;
}

.avatar {
    padding: 3rem;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    display: block;
    margin: auto;
}

.pic_name > h1{
    color: azure;
    font-family: 'Raleway-Regular';
    justify-content: center;
    display: flex;
    font-size: 30px;
    padding-bottom: 1rem;
}

.pic_name > h2 {
    color: azure;
    font-family: 'Raleway-Light';
    justify-content: center;
    display: flex;
    font-size: 22px;
    padding: 1rem;
}

a img:last-child {
    display: none;
}

a:hover img:last-child {
    display: block;
}

a:hover img:first-child {
    display: none;
}

.links {
    padding: 2rem 1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.link_github {
    width: 85px;
    height: 50px;
    padding-left: 2rem;
}

.link_youtube {
    width: 90px;
    height: 50px;
}

.link_instagram {
    width: 97px;
    height: 52px;
    padding-right: 3rem;
}