.contact_main {
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: solid 4px #292929;
    border-bottom: solid 4px #292929;
    border-radius: 30px;
    background: #0d0d0d;
}

.contact {
    display: flex;
}

.contact_title {
    display: flex;
}

.logo > img {
    width: 215px;
    height: 240px;
}

.contact_details_studies {
    padding-top: 1rem;
    margin-top: 5px;
    margin-left: 40px;
    border-left: solid 3px #292929;
}

.college_name {
    display: flex;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 3rem;
}

.college_name > img {
    width: 35px;
    height: 35px;
}

.college_name > h1 {
    font-size: 20px;
    font-family: 'Raleway-Regular';
    padding-left: 0.5rem;
}

.course_name {
    display: flex;
    padding-top: 1.5rem;
    padding-left: 2rem;
    margin-left: 5px;
}

.course_name > img {
    width: 21px;
    height: 21px;
}

.course_name > h1 {
    font-size: 20px;
    font-family: 'Raleway-Regular';
    padding-left: 0.5rem;
    margin-top: -5px;
    margin-left: 10px;
}

.location_name {
    display: flex;
    padding-top: 1rem;
    padding-left: 2rem;
    margin-left: 2px;
    margin-top: 10px;
}

.location_name > img {
    width: 27px;
    height: 27px;
}

.location_name > h1 {
    font-size: 20px;
    font-family: 'Raleway-Regular';
    padding-left: 0.5rem;
    margin-left: 8px;
}

.contact_details_actual {
    padding-top: 1rem;
    padding-left: 1rem;
    margin-top: 5px;
    margin-left: 40px;
    border-left: solid 3px #292929;
}

.telegram_name {
    display: flex;
    padding-top: 1.5rem;
    margin-top: -5px;
    margin-left: 25px;
    padding-bottom: 1rem;
}

.telegram_name > img {
    width: 27px;
    height: 27px;
}

.telegram_name > h1 {
    font-size: 20px;
    font-family: 'Raleway-Regular';
    padding-left: 0.5rem;
    margin-left: 5px;
    margin-top: -5px;
}

.phone_name {
    display: flex;
    margin-top: 10px;
    margin-left: 25px;
}

.phone_name > img {
    width: 27px;
    height: 27px;
}

.phone_name > h1 {
    font-size: 20px;
    font-family: 'Rounded-Elegance';
    padding-left: 0.5rem;
    margin-left: 5px;
}

.email_name {
    display: flex;
    padding-top: 1rem;
    margin-top: 5px;
    margin-left: 25px;
}

.email_name > img {
    width: 27px;
    height: 27px;
    margin-top: 3px;
}

.email_name > h1 {
    font-size: 20px;
    font-family: 'Raleway-Regular';
    padding-left: 0.5rem;
    margin-left: 5px;
}
